table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

img{
    width: 100px;
    height: auto;
}

body{
    margin: 20px;
    background-color: rgb(210, 232, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(164, 202, 230);
    height: 150px;
    width: 500px;
}

.button-display{
    margin: 10px;
    display: flex;
    gap: 10px;
}

button{
    background-color: rgb(101, 148, 188);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.container{
    display: flex;
    gap: 200px;
    justify-content: center;
}

.skill-card{
    background-color: rgb(164, 202, 230);
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li, ul{
    padding: 0;
    margin: 0;
}

.skill{
    font-weight: bold;
    font-size: 20px;
}